.feedbacks-auto-grid {
    --auto-grid-min-size: 25rem;
    padding-left: 0;
}

.feedbacks-auto-grid > * {
    max-width: 25rem;
}

.feedbacks-auto-grid > * + * {
    margin-top: 1rem;
}

@supports(display: grid) {
    .feedbacks-auto-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
      grid-gap: 1rem;
    }

    .feedbacks-auto-grid > * {
      max-width: unset;
    }

    .feedbacks-auto-grid > * + * {
      margin-top: unset;
    }
}

.wrapper {
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.feedbacks-container {
    margin-top: 9rem;
    padding: 1rem 0;
    line-height: 1.4;
    font-family: sans-serif;
}

.feedbacks-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedbacks-rating-upper-container {
    display: flex;
    align-items: center;
}

.feedbacks-rating-container {
    margin: 0;
    display: flex;
    align-items: center;
}

.feedbacks-rating-toggle h3 {
    margin: 0;
}

.feedbacks-rating-toggle {
    padding: .5rem;
    background: none;
    border: 3px solid #fff;
    color: #a9a9a9;
    cursor: pointer;
}

.feedbacks-rating-toggle:hover {
    color: #4a4a4a;
    border: 3px solid #ffc107;
    border-radius: .4rem;
}

.feedbacks-card {
    margin: 0;
    font-size: 1.2rem;
    border: 2px solid #0f1d2e;
    border-radius: .4rem;
    transition: .05s ease;
    cursor: pointer;
}

.feedbacks-card:hover {
    transform: scale(1.01);
}

.fb-card-content {
    margin: 1.5rem;
}

.fb-card-header {
    display: flex;
    justify-content: space-between;
}

.fb-card-header h4 {
    margin: 0;
}

.fb-card-header-star {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

@media only screen and (max-width: 540px) {
    .feedbacks-auto-grid {
        --auto-grid-min-size: 20rem;
        padding-left: 0;
    }

    .feedbacks-rating-toggle {
        padding: .2rem;
    }
}